/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #E4E9F7;
  --sidebar-color: #15537C;
  --primary-color: #ffffff;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #000000;
  --cont-color: rgba(120, 120, 120, 0.12);;
  --text-inside-color: #ffffff;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #15537C;
  --primary-color: #ffffff;
  --primary-color-light: #18191a;
  --toggle-color: #fff;
  --text-color: #000000;
  --text-inside-color: #ffffff;
  --cont-color: #35373a;
}



/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 25px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--sidebar-color);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close~.home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}

/* Default */
.theme {
  display: flex;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}

.theme__fill,
.theme__icon {
  transition: 0.3s;
}

.theme__fill {
  background-color: var(--bg);
  display: block;
  mix-blend-mode: difference;
  position: fixed;
  inset: 0;
  height: 100%;
  transform: translateX(-100%);
}

.theme__icon,
.theme__toggle {
  z-index: 1;
}

.theme__icon,
.theme__icon-part {
  position: absolute;
}

.theme__icon {
  display: block;
  top: 0.5em;
  left: 0.5em;
  width: 1.5em;
  height: 1.5em;
}

.theme__icon-part {
  border-radius: 50%;
  box-shadow: 0.4em -0.4em 0 0.5em hsl(0, 0%, 100%) inset;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  transition: box-shadow var(--transDur) ease-in-out,
    opacity var(--transDur) ease-in-out,
    transform var(--transDur) ease-in-out;
  transform: scale(0.5);
}

.theme__icon-part~.theme__icon-part {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.05em;
  top: 50%;
  left: calc(50% - 0.05em);
  transform: rotate(0deg) translateY(0.5em);
  transform-origin: 50% 0;
  width: 0.1em;
  height: 0.2em;
}

.theme__icon-part:nth-child(3) {
  transform: rotate(45deg) translateY(0.45em);
}

.theme__icon-part:nth-child(4) {
  transform: rotate(90deg) translateY(0.45em);
}

.theme__icon-part:nth-child(5) {
  transform: rotate(135deg) translateY(0.45em);
}

.theme__icon-part:nth-child(6) {
  transform: rotate(180deg) translateY(0.45em);
}

.theme__icon-part:nth-child(7) {
  transform: rotate(225deg) translateY(0.45em);
}

.theme__icon-part:nth-child(8) {
  transform: rotate(270deg) translateY(0.5em);
}

.theme__icon-part:nth-child(9) {
  transform: rotate(315deg) translateY(0.5em);
}

.theme__label,
.theme__toggle,
.theme__toggle-wrap {
  position: relative;
}

.theme__toggle,
.theme__toggle:before {
  display: block;
}

.theme__toggle {
  background-color: hsl(48, 90%, 85%);
  border-radius: 25% / 50%;
  box-shadow: 0 0 0 0.125em var(--primaryT);
  padding: 0.25em;
  width: 6em;
  height: 3em;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color var(--transDur) ease-in-out,
    box-shadow 0.15s ease-in-out,
    transform var(--transDur) ease-in-out;
}

.theme__toggle:before {
  background-color: hsl(48, 90%, 55%);
  border-radius: 50%;
  content: "";
  width: 2.5em;
  height: 2.5em;
  transition: 0.3s;
}

.theme__toggle:focus {
  box-shadow: 0 0 0 0.125em var(--primary);
  outline: transparent;
}

/* Checked */
.theme__toggle:checked {
  background-color: hsl(198, 90%, 15%);
}

.theme__toggle:checked:before,
.theme__toggle:checked~.theme__icon {
  transform: translateX(3em);
}

.theme__toggle:checked:before {
  background-color: hsl(198, 90%, 55%);
}

.theme__toggle:checked~.theme__fill {
  transform: translateX(0);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(1) {
  box-shadow: 0.2em -0.2em 0 0.2em hsl(0, 0%, 100%) inset;
  transform: scale(1);
  top: 0.2em;
  left: -0.2em;
}

.theme__toggle:checked~.theme__icon .theme__icon-part~.theme__icon-part {
  opacity: 0;
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(2) {
  transform: rotate(45deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(3) {
  transform: rotate(90deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(4) {
  transform: rotate(135deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(5) {
  transform: rotate(180deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(6) {
  transform: rotate(225deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(7) {
  transform: rotate(270deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(8) {
  transform: rotate(315deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(9) {
  transform: rotate(360deg) translateY(0.8em);
}

.theme__toggle-wrap {
  margin: 0 0.75em;
}

@supports selector(:focus-visible) {
  .theme__toggle:focus {
    box-shadow: 0 0 0 0.125em var(--primaryT);
  }

  .theme__toggle:focus-visible {
    box-shadow: 0 0 0 0.125em var(--primary);
  }
}


dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 0rem;
}

.container-lg {

  padding: 12px 60px;
  font-size: 30px;
  font-weight: 500;
  color: var(--text-inside-color);
  padding: 12px 60px;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


}

#conttexto{

  background-color: var(--cont-color);

}
.fatec {

  width: 50%;
  height: 300px;
  object-fit: fill;
  object-position: bottom;


}

.text1{

  font-size: 1rem;
  font-weight: 500;
  color: var(--text-inside-color);
  padding: 12px 60px;

}



  @media only screen and (max-width: 800px) {
    .card-container {
      height: 50px;
    }
    .card-container:hover{
      height: 100%;
    }
  }

  @media only screen and (max-width: 800px) {
    .sidebar.close {
      width: 1px;
    }
  
    .sidebar.close .image {
      display: none;
    }
  
    .sidebar {
      width: 75%;
      padding: 0px 5px;
    }

    .cards {
      width: 280px;

    }


    .sidebar.close~.home{

      left: 56px;
    }

  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .cards .red {
    background-color: var(--cont-color);
  }
  
  .cards .blue {
    background-color: var(--cont-color);
  }
  
  .cards .green {
    background-color: var(--cont-color);
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content:baseline;
    flex-direction: column;
    text-align: center;
    height: 330px;
    width: 340px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    margin: auto;
    -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    filter: drop-shadow(0px 13.882201194763184px 0px rgba(0, 0, 0, 0.11)) 
    drop-shadow(0px 24.279632568359375px 8.932112693786621px rgba(0, 0, 0, 0.14)) 
    drop-shadow(0px 32.99589538574219px 31.63776397705078px rgba(0, 0, 0, 0.13)) 
    drop-shadow(0px 42.33186340332031px 70.31375885009766px rgba(0, 0, 0, 0.13)) 

  }
  
  .cards .card p.titulo {
    font-size: 0.9em;
    
    background-color:var(--sidebar-color);
    align-items: baseline;
  }

  .titulo {
    width: 105%;
    height: 100%;
    display: flex;
    position: fixed;
    border-radius: 10px 10px 8px 8px;
    background-color: #15537C;
    fill: #15537C;;
stroke-width: 4px;
stroke: #15537C;;
transition: height 0.8s ease-in-out;
align-items: center;
    justify-content: center;
filter: drop-shadow(0px 1.9932421445846558px 1.5945937633514404px rgba(0, 0, 0, 0.12)) 
        drop-shadow(0px 4.528800010681152px 3.623039960861206px rgba(0, 0, 0, 0.19)) 
        drop-shadow(0px 7.882175445556641px 6.3057403564453125px rgba(0, 0, 0, 0.23)) 
        drop-shadow(0px 12.521552085876465px 10.017241477966309px rgba(0, 0, 0, 0.25)) 
        drop-shadow(0px 19.31982421875px 15.455859184265137px rgba(0, 0, 0, 0.27)) 
        

  }

  .titulo h1{
   

      color: white;
     font-size:0.8em;
    
    
  }
  
  


  .cards .card p.second-text {
    font-size: .7em;
  
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
    
    
  }
  

  .cards .card:hover .label-value-pair {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.cards .card:hover .titulo {
  height: 30%;
  position: relative;
  transition: height 0.9s ease-in-out;
  
}


  .titulo .card:hover{
    height: 10%;
    
  }

  .cards:hover > .card:not(:hover) {
    filter: blur(0px);
    transform: scale(0.9, 0.9);
  }

  .container {
    text-align: center;
}

.label-value-pair {
  opacity: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: #B20000; */
  justify-content: space-around;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: .8em;
}


.user-popup {
  z-index: 999;
  display: none;
  position: fixed;
  color: white;
  top: 50px;
  left: 0;
  width: 500px;
  height: 550px;
  background-color: var(--cont-color);
  border: solid 3px #15537C;

  padding: 10px;
  margin-left: 100px;
  border-radius: 30px;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(-10px);
  filter: drop-shadow(0px 13.882201194763184px 0px rgba(0, 0, 0, 0.11)) 
          drop-shadow(0px 24.279632568359375px 8.932112693786621px rgba(0, 0, 0, 0.14)) 
          drop-shadow(0px 32.99589538574219px 31.63776397705078px rgba(0, 0, 0, 0.13)) 
          drop-shadow(0px 42.33186340332031px 70.31375885009766px rgba(0, 0, 0, 0.13));
}


.user-popup.active-sidebar {
  margin-left: 265px; /* Ajuste conforme necessário */
}

#user-section:hover + .home .user-popup {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.user-info {
  text-align: center;
}

.user-info img {
  width: 100px; /* ajuste conforme necessário */
  height: 100px; /* ajuste conforme necessário */
  border-radius: 50%;
  margin-bottom: 10px;
}

.aluno-nome {
  font-weight: bold;
}

.rendimento, .prazo, .email {
  margin-top: 10px;
  font-weight: bold;
}

.rendimento-info, .prazo-info {
  list-style-type: none;
  padding: 0;
}

.rendimento-info li, .prazo-info li {
  margin-bottom: 5px;
}

.email-info {
  color: #007bff; /* ou outra cor desejada */
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .cards {
    height: 130px;
  }
  .cards:hover{
    height: 380px;
  }



  .nomes h1{

    font-size: 1.4rem;
  
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-28 23:26:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

